attrs==20.3.0
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.11
frozendict==2.3.0
google-api-core==1.31.5
google-auth==1.35.0
google-cloud-tasks==2.5.1
googleapis-common-protos==1.54.0
grpc-google-iam-v1==0.12.3
grpcio==1.43.0
idna==3.3
packaging==21.3
parameterized==0.8.1
proto-plus==1.19.9
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.7
pytz==2021.3
requests==2.27.1
rsa==4.8
six==1.16.0
urllib3==1.26.8
