[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
apache-airflow = {extras = ["gcp"],version = "*"}

[packages]
attrs = "*"
frozendict = "*"
google-api-core = "*"
google-cloud-tasks = "*"
parameterized = "*"
